$first-color : #87556f;
$second-color: #59405c;
$font-stack: "Poiret One",
sans-serif;

.director-view-container {
  font-family: $font-stack;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  text-align: center;

}

.button-director {
  background-color: $first-color;
  border: none;
  margin: 10px;
}

.button-director:hover,
.button-director:focus {
  background-color: $second-color;
  border: none;
}