$first-color : #87556f;
$second-color: #59405c;
$font-stack: "Poiret One",
sans-serif;

@mixin for-tablet-landscape-up {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin for-phone-landscape-down {
  @media (max-width: 576px) {
    @content;
  }
}


.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: $font-stack;
  margin-top: 20px;
  text-align: center;


}

.Col {
  @include for-tablet-landscape-up {
    width: 50vw;
  }
}


.username-label,
.password-label {
  font-size: 20px;
}

.button-login,
.button-link-to-register {
  background-color: $first-color;
  border: none;
  margin: 10px;
  width: 20%;

  @include for-phone-landscape-down {
    width: 40%;
  }
}

.button-login:hover,
.button-link-to-register:hover,
.button-login:focus,
.button-link-to-register:focus {
  background-color: $second-color;
  border: none;
}