$first-color: #87556f;
$second-color: #59405c;
$font-stack: "Poiret One",
sans-serif;

.movie-card-container {
  font-family: $font-stack;
  text-align: center;
}

.Card {
  width: 16rem;
  margin-top: 10px;
}

.Card-Title {
  font-weight: bold;
  text-decoration: underline;
}

.button-open {
  background-color: $first-color;
  font-size: 15px;
  border: none;
}

.button-open:hover,
.button-open:focus {
  background-color: $second-color;
  border: none;
}