$first-color: #87556f;
$second-color: #59405c;
$font-stack: "Poiret One",
sans-serif;

@mixin for-tablet-landscape-up {
  @media (min-width: 768px) {
    @content;
  }
}

.movie-title {
  text-align: center;
  font-weight: bold;
  font-size: 32px;
  text-decoration: underline;
}

.movie-description,
.movie-genre,
.movie-director {
  font-size: 20px;
}

.movie-description {
  margin-right: 20px;
  margin-left: 20px;
}

.movie-view-container {
  font-family: $font-stack;
  text-align: center;
}

.movie-poster {
  max-width: 100%;
  height: auto;
  display: block;
  border-radius: 10px;
  margin-bottom: 10px;

  @include for-tablet-landscape-up {
    margin: auto;
  }
}

.button-goBack {
  background-color: $first-color;
  margin: 20px auto 20px auto;
  border: none;
}

.button-goBack:hover,
.button-goBack:focus {
  background-color: $second-color;
  border: none;
}