$first-color : #87556f;
$second-color: #59405c;
$font-stack: "Poiret One",
sans-serif;

.profile-view {
  font-family: $font-stack;

}


.button-delete {
  background-color: $first-color;
  border: none;
}