$first-color: #87556f;
$second-color: #59405c;
$font-stack: "Poiret One",
sans-serif;

@mixin for-phone-landscape-down {
  @media (max-width: 576px) {
    @content;
  }
}


.span-register {
  text-decoration: underline;
  color: black;
}

.span-register:hover {
  color: $second-color;
}

.registration-view-container {
  font-family: $font-stack;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  font-family: $font-stack;
  margin-top: 20px;
  text-align: center;

}

.username-label,
.password-label,
.email-label,
.birthday-label {
  font-size: 20px;
}

.text-muted {
  font-size: 15px;
}

.button-register {
  background-color: $first-color;
  border: none;
  margin-bottom: 10px;
  width: 20%;

  @include for-phone-landscape-down {
    width: 40%;
  }

}

.button-register:hover {
  background-color: $second-color;
  border: none;
}