$first-color: #87556f;
$second-color: #59405c;
$font-stack: "Poiret One",
sans-serif;


.registration-view-container {
  font-family: $font-stack;
}

.button-register {
  background-color: $first-color;
  border: none;
}

.button-register:hover {
  background-color: $second-color;
  border: none;
}